html {
    min-height: 100%;

    border: 10px solid black;

	@include box-sizing(border-box);
}
body {
    font-size: 1.3em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;

    margin: 0;
    padding: 5% 5% 0;
}
h1, h2,h3 {
    font-weight: 500;
}
.viewport {
    position: relative;

    width: 80%;
    margin: 0 auto;

    //text-align: center;
}
.demo {
    position: relative;

    height: 600px;

    ul {
        li {
            background-size: cover;
            background-position: center;
        }
    }
}
pre {
    text-align: left;
}
.GI_C_prev,.GI_C_next{
    line-height: 0;
    &:after {
        position: absolute;
        top:14px;
        left:8px;
    }
}
.GI_C_prev {
 	&:after {
 		content: '❮';
 	}
}
.GI_C_next {
 	&:after {
 		content: '❯';
 	}
}
